<main class="page__main">
    <section class="page__main-last">
        <div class="wrapper">
            <img src="./assets/images/amorenjuego.jpg" alt="Portada Amor en juego" class="page__main-image"></img>
            <div>
                <p>Amor en juego.</p>
                <p>Dorian Wilson es uno de los mejores y más famosos creadores de videojuegos, pero en los últimos tiempos ha perdido su toque mágico… Su empresa le da un ultimátum: o consigue un nuevo éxito o le despiden. Para ayudarle a centrarse y sacar adelante el proyecto, le envían a Claire Redfern, experta en encauzar la creatividad de genios como él.</p>
            </div>
        </div>
    </section>
</main>
