.page__header {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  &-background {
    background: url("../images/header.jpg");
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    height: 15vh;
  }
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
